<div class="flex flex-column xl:flex-row xl:align-items-start p-1 gap-2">
  <img
    *ngIf="image"
    class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
    [src]="image"
  />
  <div
    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
  >
    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
      <div class="flex justify-content-between flex-wrap w-full">
        <a
          class="font-bold text-primary no-underline"
          [routerLink]="['/animes', id]"
        >
          {{ title }}
        </a>
        <div class="flex align-items-center justify-content-center">
          <div *ngFor="let tag of tags">
            <span *ngIf="tag === 'Recommended'" class="text-green-500">{{
              tag
            }}</span>
            <span *ngIf="tag === 'Mixed Feelings'" class="text-yellow-500">{{
              tag
            }}</span>
            <span *ngIf="tag === 'Not Recommended'" class="text-red-600">{{
              tag
            }}</span>
          </div>
        </div>
      </div>
      <pre class="fade text-sm">{{ text }}</pre>

      <div class="flex flex-wrap w-full">
        <div class="flex align-items-center justify-content-center gap-1">
          <div class="font-light text-color-secondary">
            {{ hoursDifference }} hours ago by
          </div>
          <div>{{ user.username }}</div>
        </div>
      </div>
    </div>
    <div
      class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
    >
      <div
        class="flex text-lg font-semibold gap-1 justify-content-center align-items-center"
      >
        {{ score }}
        <i class="pi pi-star-fill text-yellow-300"></i>
      </div>
    </div>
  </div>
</div>
