<ng-container *ngIf="vmCarousels$ | async as vm">
  <app-main-preview
    header="Top Airing Animes"
    [data]="vm.currentSeason"
    [link]="['/season', currentYear, currentSeason]"
  />
  <app-media-carousel
    [data]="vm.recentEpisodes"
    title="Latest Updated Episode Videos"
  />
</ng-container>
<ng-container *ngIf="vm$ | async as vm">
  <div class="flex flex-row gap-1 mt-1">
    <app-reviews
      class="w-6"
      title="Latest Anime Review"
      [data]="vm.animeReviews"
    />
    <app-recommendations
      class="w-6"
      title="Latest Anime Recommendations"
      [data]="vm.animeRecommendations"
    />
  </div>
</ng-container>
