<ng-container *ngIf="vm$ | async as vm; else loading">
  <app-main-preview
    header="Top Airing Animes"
    [data]="vm.topAiringAnimes"
    [link]="['/season', currentYear, currentSeason]"
    [isLoading]="vm.topAiringAnimesLoading"
  />
  <div class="flex flex-column xl:flex-row lg:flex-row gap-1 mt-1 w-full">
    <app-items-container
      title="Latest Reviews"
      class="flex-1"
      [isCollapsed]="false"
    >
      <div
        *ngIf="!vm.animeReviewsLoading; else loading"
        class="max-h-30rem overflow-auto"
      >
        <div class="mb-2" *ngFor="let review of vm.reviews">
          <app-review-row [review]="review" />
        </div>
      </div>
    </app-items-container>
    <app-items-container
      title="Latest Recommendations"
      class="flex-1"
      [isCollapsed]="false"
    >
      <div
        *ngIf="!vm.animeRecommendationsLoading; else loading"
        class="max-h-30rem overflow-auto"
      >
        <div class="mb-2" *ngFor="let recommendation of vm.recommendations">
          <app-recommendation-row [recommendation]="recommendation" />
        </div>
      </div>
    </app-items-container>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex-1">
    <app-skeleton-panel-header />
  </div>
</ng-template>
