<ng-container *ngIf="vmMain$ | async as vm; else loading">
  <app-main-preview
    header="Top Airing Animes"
    [data]="vm.currentSeason"
    [link]="['/season', currentYear, currentSeason]"
  />
  <div
    class="flex flex-column xl:flex-row lg:flex-row md:flex-row flex-wrap gap-1 mt-1 w-full"
  >
    <app-items-container title="Latest Anime Review" class="flex-1">
      <div class="max-h-30rem overflow-auto">
        <div *ngFor="let review of vm.reviews">
          <app-review-row [review]="review" />
        </div>
      </div>
    </app-items-container>
    <app-items-container title="Latest Anime Recommendations" class="flex-1">
      <div class="max-h-30rem overflow-auto">
        <ng-container *ngFor="let media of vm.recommendations">
          <app-recommendation-row
            [title]="media.title"
            [likedMedia]="media.likedMedia"
            [mightLikeMedia]="media.mightLikeMedia"
            [content]="media.content"
            [hoursDifference]="media.hoursDifference"
            [user]="media.user"
          />
        </ng-container>
      </div>
    </app-items-container>
  </div>
</ng-container>

<ng-template #loading>
  <app-skeleton-main-preview />
  <div
    class="flex flex-column xl:flex-row lg:flex-row md:flex-row flex-wrap gap-1 mt-1 w-full"
  >
    <div class="flex-1">
      <app-skeleton-panel-header />
    </div>
    <div class="flex-1">
      <app-skeleton-panel-header />
    </div>
  </div>
</ng-template>
