<div
  class="p-4 border-1 surface-border surface-card border-round flex flex-column justify-content-center"
>
  <div class="font-semibold flex align-items-center justify-content-center">
    <div>
      {{ media.title_english ?? media.title }}
    </div>
  </div>
  <div
    class="flex align-items-center align-items-center justify-content-center"
  >
    <div *ngIf="media.aired?.from">
      {{ media.aired.from | date : "yyyy-MM-dd HH:mm:ss" }}
    </div>
    <div>|</div>
    <div *ngIf="media.episodes">{{ media.episodes }} eps</div>
  </div>
  <div
    class="flex align-items-center align-items-center justify-content-center"
  >
    <div *ngFor="let g of media.genres" class="mx-1 flex-wrap">
      <p-chip [label]="g.name" />
    </div>
  </div>
  <div
    class="flex align-items-center align-items-center justify-content-center"
  >
    <div>
      <img class="shadow-2 border-round" [src]="media.images" />
    </div>
    <div class="synopsis px-3 text-sm">
      <p>{{ media.synopsis }}</p>
    </div>
  </div>
  <div
    class="flex align-items-center align-items-center justify-content-center"
  >
    <div>
      {{ media.score }}
    </div>
    <div>|</div>
    <div>
      {{ media.scored_by }}
    </div>
    <div>|</div>

    <div>
      {{ media.rank }}
    </div>
    <div>|</div>

    <div>
      {{ media.members }}
    </div>
    <div>|</div>

    <div>
      {{ media.favorites }}
    </div>
  </div>
</div>
