<div class="p-4 flex flex-column h-full">
  <div
    class="font-semibold flex justify-content-center text-primary text-overflow-ellipsis"
  >
    {{ media.title_english ?? media.title }}
  </div>
  <div
    class="flex align-items-center align-items-center justify-content-center"
  >
    <div *ngIf="media.aired?.from" class="mx-3 text-color-secondary">
      {{ media.aired.from | date : "yyyy-MM-dd HH:mm:ss" }}
    </div>
    <div class="text-color-secondary" *ngIf="media.episodes">
      ({{ media.episodes }} eps)
    </div>
  </div>
  <div
    class="flex flex-wrap align-items-center align-items-center justify-content-center"
  >
    <p-chip class="mx-1 my-1" *ngFor="let g of media.genres" [label]="g.name" />
  </div>
  <div class="flex justify-content-center">
    <div>
      <p-image class="shadow-2 border-round" [src]="media.images" />
    </div>
    <p class="synopsis px-3 text-sm max-h-15rem">
      {{ media.synopsis }}
    </p>
  </div>
  <div
    class="flex align-items-center align-items-center justify-content-center gap-4 align-items-end h-full"
  >
    <div>
      {{ media.score }}
      <i class="pi pi-star-fill text-yellow-300"></i>
    </div>
    <div>
      {{ media.members }}
      <i class="pi pi-users"></i>
    </div>
  </div>
</div>
