<div class="flex flex-row flex-wrap border-1 surface-border py-2">
  <div
    *ngFor="let anime of [0, 1, 2, 3, 4, 5, 6, 7]"
    class="flex flex-row flex-wrap col-12 sm:col-12 md:col-6 lg:col-4 xl:col-3 p-2"
  >
    <div
      class="p-4 flex flex-column h-full border-1 surface-border border-round w-full"
    >
      <div class="flex align-items-center justify-content-center">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="flex align-items-center justify-content-center">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="my-1 flex flex-row flex-wrap justify-content-center">
        <p-skeleton width="3rem" styleClass="m-1"></p-skeleton>
        <p-skeleton width="3rem" styleClass="m-1"></p-skeleton>
        <p-skeleton width="3rem" styleClass="m-1"></p-skeleton>
        <p-skeleton width="3rem" styleClass="m-1"></p-skeleton>
      </div>
      <div
        class="flex flex-column xl:flex-row lg:flex-row md:flex-row align-items-center"
      >
        <div class="col-6">
          <p-skeleton width="100%" height="17rem" styleClass="m-1"></p-skeleton>
        </div>
        <div class="col-6">
          <p-skeleton width="100%" height="17rem" styleClass="m-1"></p-skeleton>
        </div>
      </div>

      <div
        class="flex align-items-center justify-content-center gap-4 align-items-end h-full my-1"
      >
        <p-skeleton width="5rem" styleClass="mx-1"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mx-1"></p-skeleton>
      </div>
    </div>
  </div>
</div>
