<div class="flex flex-column gap-1 mt-1">
  <ng-container *ngIf="vmAnime$ | async as vm">
    <p-panel>
      <app-main-preview-content
        [media]="vm.anime"
        [isDetailed]="true"
        [pictures]="vm.pictures"
      />
    </p-panel>
    <app-items-container
      *ngIf="vm.anime.background"
      title="Background"
      [isCollapsed]="true"
    >
      <div>{{ vm.anime.background }}</div>
    </app-items-container>
    <app-items-container title="Relations" [isCollapsed]="true">
      <div class="h-7rem overflow-auto">
        <app-relations [relations]="vm.anime.relations" />
      </div>
    </app-items-container>
    <div class="flex flex-row gap-1">
      <app-theme
        class="w-6"
        [data]="vm.anime.theme.openings"
        title="Opening Theme"
        [isCollapsed]="true"
      />
      <app-theme
        class="w-6"
        [data]="vm.anime.theme.endings"
        title="Ending Theme"
        [isCollapsed]="true"
      />
    </div>
  </ng-container>
  <ng-container *ngIf="vmExternal$ | async as vm">
    <div class="flex flex-row gap-1">
      <app-items-container title="Characters" [isCollapsed]="false" class="w-6">
        <div class="h-20rem overflow-auto">
          <app-characters [characters]="vm.characters" />
        </div>
      </app-items-container>
      <app-items-container title="Staff" [isCollapsed]="false" class="w-6">
        <div class="h-20rem overflow-auto">
          <app-staff [staff]="vm.staff" />
        </div>
      </app-items-container>
    </div>

    <app-items-container title="Latest Anime Review">
      <div class="max-h-30rem overflow-auto">
        <p-dataView #dv [value]="vm.reviews">
          <ng-template let-media pTemplate="listItem">
            <app-detailed-review
              class="w-12"
              [text]="media.review"
              [title]="media.title"
              [image]="media.image"
              [score]="media.score"
              [user]="media.user"
              [tags]="media.tags"
              [id]="media.id"
              [hoursDifference]="media.hoursDifference"
            />
          </ng-template>
        </p-dataView>
      </div>
    </app-items-container>
  </ng-container>
  <ng-container *ngIf="vmOthers$ | async as vm">
    <app-media-carousel
      *ngIf="vm.recommendations && vm.recommendations.length > 0"
      [data]="vm.recommendations"
      title="Recommendations"
    />
  </ng-container>
</div>
