<ng-container *ngIf="vm$ | async as vm">
  <app-data-view [data]="vm.animes.data">
    <p-dropdown
      class="border-round m-1"
      [options]="vm.seasons.years"
      [formControl]="yearFormControl"
      placeholder="Year"
      optionLabel="label"
      optionValue="value"
      inputId="float-label"
    ></p-dropdown>
    <p-dropdown
      class="border-round m-1"
      [options]="vm.seasonLabels.labels"
      [formControl]="seasonFormControl"
      placeholder="Season"
      optionLabel="label"
      optionValue="value"
    ></p-dropdown>
    <p-dropdown
      class="border-round m-1"
      [options]="medias"
      [formControl]="mediaFormControl"
      placeholder="Media"
      optionLabel="label"
      optionValue="value"
    ></p-dropdown>
  </app-data-view>
  <app-paginator
    [pagination]="vm.pagination"
    (onPageChange)="handlePageChange($event)"
  />
</ng-container>
