<div class="card">
  <div class="flex flex-column border-round border-1 surface-border p-4">
    <div class="flex justify-content-between mb-3">
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
    </div>
    <div
      class="flex flex-column-reverse xl:flex-row lg:flex-row pl-5 gap-3 align-items-start md:align-items-center lg:align-items-center xl:align-items-center"
    >
      <div class="flex flex-column flex-1 w-full">
        <div>
          <p-skeleton
            width="10rem"
            styleClass="mb-2"
            height="2rem"
          ></p-skeleton>
          <p-skeleton
            width="11rem"
            styleClass="mb-2"
            height="1rem"
          ></p-skeleton>
          <div class="flex flex-row gap-1">
            <p-skeleton
              width="3rem"
              styleClass="mb-2"
              borderRadius="16px"
            ></p-skeleton>
            <p-skeleton
              width="2rem"
              styleClass="mb-2"
              borderRadius="16px"
            ></p-skeleton>
            <p-skeleton
              width="2rem"
              styleClass="mb-2"
              borderRadius="16px"
            ></p-skeleton>
          </div>
        </div>
        <p-skeleton width="100%" height="10rem"></p-skeleton>
      </div>
      <div class="flex flex-1 align-items-center justify-content-center">
        <p-skeleton width="25rem" height="30rem"></p-skeleton>
      </div>
    </div>
    <div class="flex flex-row justify-content-center gap-1 mt-5">
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
    </div>
  </div>
</div>
