<div class="flex flex-column xl:flex-row xl:align-items-start">
  <p-accordion class="w-full">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex justify-content-between gap-2 w-full">
          <div class="flex flex-row gap-2">
            <div class="flex align-items-center gap-2">
              <p-avatar [image]="user.images.jpg.image_url" shape="circle" />
              <span class="font-bold white-space-nowrap">{{
                user.username
              }}</span>
            </div>
            <div class="flex align-items-center justify-content-center gap-1">
              <div class="font-light text-color-secondary">
                {{ hoursDifference }} hours ago
              </div>
            </div>
          </div>

          <div class="flex gap-3 justify-content-center align-items-center">
            <div class="flex align-items-center justify-content-center">
              <div *ngFor="let tag of tags">
                <span *ngIf="tag === 'Recommended'" class="text-green-500">{{
                  tag
                }}</span>
                <span
                  *ngIf="tag === 'Mixed Feelings'"
                  class="text-yellow-500"
                  >{{ tag }}</span
                >
                <span *ngIf="tag === 'Not Recommended'" class="text-red-600">{{
                  tag
                }}</span>
              </div>
            </div>
            <div class="text-lg font-semibold">
              {{ score }}
              <i class="pi pi-star-fill text-yellow-300"></i>
            </div>
          </div>
        </div>
      </ng-template>
      <pre class="m-0 text-sm">
        {{ text }}
      </pre>
    </p-accordionTab>
  </p-accordion>
</div>
