<div>All animes</div>
<div [routerLink]="'/animes'">View more</div>

<div>Trending</div>
<div [routerLink]="'/season'">View more</div>

<div *ngIf="topAiring$ | async as animes" class="animes-container">
  <ng-container *ngIf="animes">
    <p-carousel
      [value]="animes"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="false"
      [autoplayInterval]="3000"
    >
      <ng-template let-anime pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-5 px-3"
        >
          <div class="mb-3">
            <img
              src="{{ anime.images }}"
              class="w-6 shadow-2"
              [routerLink]="['/animes', anime.mal_id]"
            />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-container>
</div>
<div>Popular this season</div>
<div [routerLink]="'/season'">View more</div>

<div *ngIf="topPopularity$ | async as animes" class="animes-container">
  <ng-container *ngIf="animes">
    <p-carousel
      [value]="animes"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="false"
      [autoplayInterval]="3000"
    >
      <ng-template let-anime pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-5 px-3"
        >
          <div class="mb-3">
            <img
              src="{{ anime.images }}"
              class="w-6 shadow-2"
              [routerLink]="['/animes', anime.mal_id]"
            />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-container>
</div>
<div>Upcoming</div>
<div [routerLink]="'/season'">View more</div>

<div *ngIf="topUpcoming$ | async as animes" class="animes-container">
  <ng-container *ngIf="animes">
    <p-carousel
      [value]="animes"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="false"
      [autoplayInterval]="3000"
    >
      <ng-template let-anime pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-5 px-3"
        >
          <div class="mb-3">
            <img
              src="{{ anime.images }}"
              class="w-6 shadow-2"
              [routerLink]="['/animes', anime.mal_id]"
            />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-container>
</div>
<div class="card flex justify-content-center">
  <p-button label="Check" icon="pi pi-check"></p-button>
</div>
