<app-items-container [title]="title">
  <div class="max-h-30rem overflow-auto">
    <p-dataView #dv [value]="data">
      <ng-template let-anime pTemplate="listItem">
        <app-review-row
          class="col-12"
          [text]="anime.review"
          [title]="anime.title"
          [image]="anime.image"
          [score]="anime.score"
          [user]="anime.user"
          [tags]="anime.tags"
          [id]="anime.id"
          [hoursDifference]="anime.hoursDifference"
          [isDetailed]="isDetailed"
        />
      </ng-template>
    </p-dataView>
  </div>
</app-items-container>
