<div class="card">
  <div
    class="flex flex-column border-round border-1 surface-border p-4 surface-card"
  >
    <div class="flex justify-content-between mb-3">
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="3rem" styleClass="mb-1"></p-skeleton>
    </div>
    <div class="flex flex-row">
      <div class="col-2">
        <p-skeleton width="100%" height="10rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="col-2">
        <p-skeleton width="100%" height="10rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="col-8 flex flex-column">
        <div class="col-12 flex flex-row justify-content-between">
          <div>
            <p-skeleton width="8rem" styleClass="mx-1"></p-skeleton>
          </div>
          <div class="flex flex-row gap-1">
            <p-skeleton width="3rem"></p-skeleton>
          </div>
        </div>
        <div class="col-12 flex flex-row justify-content-between">
          <div>
            <p-skeleton width="8rem" styleClass="mx-1"></p-skeleton>
          </div>
          <div class="flex flex-row gap-1">
            <p-skeleton width="3rem"></p-skeleton>
          </div>
        </div>
        <div class="col-12">
          <p-skeleton width="100%" height="5rem" styleClass="mb-1"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</div>
