<div
  class="card surface-card flex flex-row flex-wrap p-4 border-1 surface-border mt-1"
>
  <div
    *ngFor="let filter of filterInputs"
    class="flex flex-column gap-2 border-round m-1"
  >
    <label htmlFor="username">{{ filter.label }}</label>
    <ng-container *ngIf="filter.type === 'string'">
      <input
        [id]="filter.label"
        type="text"
        pInputText
        [(ngModel)]="filter.value"
        (ngModelChange)="filter.change($event, filter.param)"
      />
    </ng-container>
    <ng-container *ngIf="filter.type === 'number'">
      <p-inputNumber
        [id]="filter.label"
        [(ngModel)]="filter.value"
        (ngModelChange)="filter.change($event, filter.param)"
      />
    </ng-container>
  </div>

  <div
    *ngFor="let filter of filterDropdowns"
    class="flex flex-column gap-2 border-round m-1"
  >
    <label htmlFor="username">{{ filter.label }}</label>
    <ng-container *ngIf="filter.multi">
      <p-multiSelect
        [options]="filter.options"
        [(ngModel)]="filter.value"
        optionLabel="label"
        optionValue="value"
        (onChange)="
          filter.change
            ? filter.change($event)
            : changeQueryParamsMulti($event, filter.param, filter.value)
        "
      ></p-multiSelect>
    </ng-container>
    <ng-container *ngIf="!filter.multi">
      <p-dropdown
        [options]="filter.options"
        [(ngModel)]="filter.value"
        optionLabel="label"
        optionValue="value"
        (onChange)="
          filter.change
            ? filter.change($event)
            : changeQueryParams($event, filter.param)
        "
      />
    </ng-container>
  </div>
</div>
