<span class="p-input-icon-left" *ngFor="let filter of filterInputs">
  <input
    type="text"
    pInputText
    [(ngModel)]="filter.value"
    (ngModelChange)="filter.change($event, filter.param)"
  />
</span>
<p-dropdown
  *ngFor="let filter of filterDropdowns"
  class="border-round m-1"
  [options]="filter.options"
  [placeholder]="filter.label"
  [(ngModel)]="filter.value"
  optionLabel="label"
  optionValue="value"
  (onChange)="
    filter.change
      ? filter.change($event)
      : changeQueryParams($event, filter.param)
  "
/>
