<div *ngIf="!isLoading; else loading" class="my-1">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <div>
        <div *ngIf="!link" class="font-bold">
          {{ header }}
        </div>

        <a
          *ngIf="link"
          [routerLink]="link"
          [queryParams]="queryParams"
          class="no-underline font-bold text-primary cursor-pointer"
        >
          {{ header }}
        </a>
      </div>
    </ng-template>
    <p-carousel
      [value]="data"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="false"
      [autoplayInterval]="8000"
    >
      <ng-template let-anime pTemplate="item">
        <app-main-preview-content [media]="anime" />
      </ng-template>
    </p-carousel>
  </p-panel>
</div>

<ng-template #loading>
  <app-skeleton-main-preview />
</ng-template>
