<app-items-container [title]="title">
  <div class="max-h-30rem overflow-auto">
    <p-dataView #dv [value]="data">
      <ng-template let-anime pTemplate="listItem">
        <app-recommendation-row
          class="w-12"
          [title]="anime.title"
          [likedMedia]="anime.likedMedia"
          [mightLikeMedia]="anime.mightLikeMedia"
          [content]="anime.content"
          [hoursDifference]="anime.hoursDifference"
          [user]="anime.user"
        />
      </ng-template>
    </p-dataView>
  </div>
</app-items-container>
