<p-sidebar [(visible)]="sideBarVisible" position="right">
  <h3>Sidebar</h3>
  <div class="search">
    <input />
    <div *ngIf="animes.result$ | async as result">
      <div *ngIf="result.isSuccess">
        <div *ngFor="let page of result.data.pages">
          <div *ngFor="let anime of page.data">
            <app-media-card [image]="anime.images" [title]="anime.title" />
          </div>
        </div>
        <button (click)="result.fetchNextPage()">test</button>
      </div>
    </div>
  </div>
</p-sidebar>
