<p-sidebar [(visible)]="sideBarVisible" position="right">
  <!-- <div class="search">
    <div class="search-container">
      <span class="p-input-icon-left">
        <input type="text" pInputText [(ngModel)]="searchTerm" />
      </span>
      <p-button (click)="search()" icon="pi pi-search"></p-button>
    </div>
    <div *ngIf="animes.result$ | async as result">
      <div *ngIf="result.isSuccess">
        <div *ngFor="let page of result.data.pages" class="pages">
          <div *ngFor="let anime of page.data" class="pages">
            <app-media-card [anime]="anime" />
          </div>
        </div>
        <div class="load-button">
          <p-button
            (click)="result.fetchNextPage()"
            [disabled]="!result.hasNextPage"
            label="Load More"
          ></p-button>
        </div>
      </div>
    </div>
  </div> -->
</p-sidebar>
