<div
  class="card flex flex-row p-4 border-1 surface-border mt-1 justify-content-center"
>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
  <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
</div>
