<div
  class="flex flex-column-reverse xl:flex-row lg:flex-row justify-content-center align-items-center"
>
  <div class="w-12 xl:w-7 px-4">
    <a
      class="text-3xl font-bold text-primary no-underline"
      [routerLink]="['/animes', media.mal_id]"
    >
      {{ media.title }}
    </a>
    <div class="text-lg font-light text-color-secondary">
      {{ media.title_english }}
    </div>
    <div class="flex-row flex-wrap flex-row">
      <div class="my-1">
        <p-chip class="mx-1" *ngFor="let g of media.genres" [label]="g.name" />
        <ng-container *ngIf="isDetailed">
          <p-chip
            class="mx-1"
            *ngFor="let t of media.themes"
            [label]="t.name"
          />
          <p-chip
            class="mx-1"
            *ngFor="let t of media.demographics"
            [label]="t.name"
          />
        </ng-container>
      </div>
    </div>
    <p class="font-italic">{{ media.synopsis }}</p>
    <app-detailed-media *ngIf="isDetailed" [media]="media" />
  </div>
  <div class="w-12 xl:w-5 flex justify-content-center px-4">
    <!-- <div class="fade-effect"></div> -->
    <!-- class="sm:w-12 md:w-12 lg:w-12 xl:w-7 min-h-full" -->
    <p-image
      *ngIf="pictures.length === 0"
      [src]="media.image_large"
      alt="Anime Image"
    />
    <p-galleria *ngIf="pictures.length > 0" [value]="pictures" [numVisible]="5">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.jpg.large_image_url" style="width: 100%" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.jpg.small_image_url" />
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>
